/******************** Eléments principaux de la page *********************/

* {
  margin: 0px;
  padding: 0px;
  /* overflow-x: hidden; */
}

body, html {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  box-sizing: border-box;
  background-color: #fdfdfd;
}

/************************* Header ***************************/
header {
  background-color: #FF8532;
  height: 62px;
  width: 100%;
}
.listheader {
  height: 100%;
}
.listheader::after {
  display: table;
  clear: both;
}
.listheader ul {
  float: right;
  text-align: center;
  list-style: none;
  margin: -43px auto;
  margin-right: 40px;
  padding-bottom: 11px;
}

.listheader li {
  display: inline-block;
  margin-top: 15px;
  margin-right: 20px;
  padding: 0 8px;
}
.listheader a {
  display: inline;
  font-size: 1em;
  color: rgb(5, 5, 5);
  padding-bottom: 15px;
  text-decoration: underline;
  text-transform: initial;
}
.listheader a:hover {
  color: rgb(252, 252, 252);
  text-transform: uppercase;
}
.main {
  margin: auto;
}

/********************* Logo *********************/

.logo {
  float: inline-end;
  margin-left: 20px;
  padding-top: 10px;
  
}

.logo input {
  width: 20%;
  padding: 5px 5px;
  margin: -3px 80px;
  border: 0px solid #ccc;
  border-radius: 10px;
  height: 45px;
  position: absolute;
}

/*********** fin header ***********/

/************** début de bannière ***************/

.bgimage {
  position: relative;
  background-size: 100%;
}

.description {
  position: absolute;
  bottom: 3px;
  width: 95.8%;
  height: 40px;
  padding-top: 15px;
  padding-left: 51px;
  background-color: rgba(235, 236, 238, 0.383);
  color: rgba(2, 2, 2, 0.849);
  font-size: 1em;
  text-transform: initial;
}

/**************** Fin banniere******************/

/************* section & article **************/
.products {
  width: 100%;
  height: 100PX;
}
.products-title {
  margin: 0 auto;
  width: 30%;
  text-align: center;
  padding-top: 30px;
  color: #FF8532;
}
.s1 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1px;
  padding: 35px;
  margin-top: -70px;
  text-align: center;
  font-size: smaller;
}

.container h3 {
  text-align: center;
  border-bottom: 2px solid black;
  line-height: 26px;
  margin: 15px 84px;
}
.button1{
  margin-left: 76%;
}

/***************** Section 2 ***************/
.sec {
  margin-top: -37px;
  padding: 0px 50px;
}
#content {
  margin: 34px auto;
  display: flex;
}
#content img {
  height: 310px;
  width: 35%;
  margin-right: 15px;
}
#content p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1em;
  line-height: 38px;
  padding-left: 39px;
}
#content h4 {
  text-decoration: underline;
  margin-right: 10px;
  color: #e0c102;
}

/****************Dernière section****************/
.final-sec {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  padding: 6px;
}
.products-title {
  margin-bottom: 30px;
}
.s2 {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
  overflow: hidden;
  transition: 2s;
}
.s2 :hover{
transform: scale(1.3);
box-shadow: #000000;
width: 89%;
height: 89%;
}

.s2 img {
  width: 200px;
  height: 200px;
}

.s2 p{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}
.more{
  margin-left: 80%;
    padding-bottom: 0.4%;
}
/************************ Footer ************************/
.footer{
  display: flex ;
  padding: 10px;
  background-color: #FF8532;
}
.question{
  margin-left: 6%;
  line-height: 35px;
}
.question input{
  height: 60px;
  width: 214px;
}
button{
  margin-left: 182px;
  margin-top: 10px;
}
.info{
   font-size: 12px;
}
.add{
  margin-left: 11%;
  line-height: 45px;
}
.add h5{
  margin-bottom: 7px;
  font-size: 18px;
}

.newsletter{
  line-height: 30px;
  margin-left: 135px !important;
}

.newsletter input{
  height: 29px;
  width: 207px;
  margin-top: 20px
}
.newsletter form{
  height: 10px;
}
.newsletter button{
  margin-left: 58px;
  margin-bottom: 10px;
  margin: 65px auto;
  margin-bottom: 11px;
  height: 26px;
  width: 116px;
  color: #e0c102;;
  background-color: #000000;
}
.social-container{
  display: inline-flex;
  padding-left: 10px;
}
.social{
  padding: 10px auto;
}

.copyright{
  background-color: #E5E6DC;
  padding: 17px 443px;
  font-family: Arial, Helvetica, sans-serif;
}
/************** animation keyframes ***************/
.container h3{
  animation-name: taille;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: 2;
}
@keyframes taille{
from{width: 65%; color: black;}
50%{width: 50%; color: rgb(252, 204, 48);}
TO{width: 65%; color: black;}
}

